.container {
    padding: 24px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .left {
    width: 120px;
  }

  .navButton {
    width: 120px;
    justify-content: flex-start;
  }

  .navIcon {
    width: 20px;
    font-size: 19px;
  }

  .trashIcon {
    font-size: 21px;
  }
  
  .right {
    flex: 1;
    margin-left: 60px;
  }
